 <!-- product 1 -->
 <div class="product-item">
    <div class="product__inner">
        <a href="{{ product.url | within: collection }}" class="product__image">
            <img src="{{ product.images[0].src | img_url: 'master' }}" alt="Product Image" loading="lazy" 
            width="{{product.images[0].width}}" height="{{product.images[0].height}}">
        </a>
        <div class="product__wrapper">
            <a href="{{ product.url | within: collection }}" class="page-link"></a>
            <h4 class="product__title">
                {{ product.title}}
            </h4>
            <h5 class="product__desc">
                {{ product.description}}
            </h5>
            <div class="product__variants">
                <ul class="list-variants">
                    {% for color_option in product.options_by_name['Color'].values %}
                        {% assign color_value = color_option | downcase %}
                        <li><span class="variant-1 g-p-{{-color_value | replace: " ","-"-}}"></span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
 <!--End product 1 -->
