<!-- Accordion by John Mark -->
<!-- Connect with me GitHub @johnmark14 -->
<section class="section-accordheader section-padding{% if section.settings.sectionPadding %} remove-extra {% endif %}">
  <div class="accordheader-shell shell">
    <h5 class="accord-header">{{ section.settings.heading }}</h5>
    {% for block in section.blocks %}
      <div class="accord-wrapper">
        <input type="checkbox" name="accord-header" id="accord-{{-forloop.index-}}" />
        <label for="accord-{{-forloop.index-}}">
          <p>{{ block.settings.title }}</p>
          <span> {% render "chevron-down" %} </span>
        </label>
        <div class="accord-body">
          {{block.settings.bodyText}}
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Accordion with heading",
  "settings": [
    {
      "type": "checkbox",
      "id": "sectionPadding",
      "label": "Remove Section Padding?",
      "default": false
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Product Information"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Specifications"
        },
        {
          "type": "textarea",
          "id": "bodyText",
          "label": "Body Text",
          "default": "Write something about your product.",
          "info": "You can include HTML format such as <p> for paragraph."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion with heading"
    }
  ]
}
{% endschema %}
