<section id="{{ section.settings.anchorID }}" class="section-cardwtext section-padding {% if section.settings.sectionPadding %} remove-extra  {% endif %}" style="background-color: {{ section.settings.sectionColor }};">
    <div class="cardwtext-shell shell">
        <h2 class="cardwtext-title {% if section.settings.sectionTitle != blank %} section-title {% endif %}">{{ section.settings.sectionTitle }}</h2>
        <div class="container">
            <div class="columns is-variable is-1-mobile is-1-tablet">
                <div class="column">
                   <div class="card">
                       <div class="card-image">
                           <figure class="image is-1by1">
                                <img src="{{ section.settings.cardImg1 | img_url: 'master' }}" alt="Card Image" loading="lazy">
                           </figure>
                       </div>
                        <footer class="card-footer">
                            <div class="card-footer-item">
                               {{ section.settings.cardText1 }}
                            </div>
                        </footer>
                   </div>
                </div>
                <div class="column">
                   <div class="card">
                       <div class="card-image">
                           <figure class="image is-1by1">
                                <img src="{{ section.settings.cardImg2 | img_url: 'master' }}" alt="Card Image" loading="lazy">
                           </figure>
                       </div>
                        <footer class="card-footer">
                            <div class="card-footer-item">
                                {{ section.settings.cardText2 }}
                            </div>
                        </footer>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Card with Text",
    "settings": [
        {
            "type": "checkbox",
            "id": "sectionPadding",
            "label": "Remove section padding?",
            "default": false
        },
        {
            "type": "text",
            "id": "sectionTitle",
            "label": "Section Heading",
            "default": "Services"
        },
        {
            "type": "textarea",
            "id": "cardText1",
            "label": "Card Text Left",
            "default": "Write something here to describe your services"
        },
        {
            "type": "image_picker",
            "id": "cardImg1",
            "label": "Card Image Left"
        },
        {
            "type": "textarea",
            "id": "cardText2",
            "label": "Card Text Right",
            "default": "Write something here to describe your services"
        },
        {
            "type": "image_picker",
            "id": "cardImg2",
            "label": "Card Image Right"
        },
        {
          "type": "color",
          "id": "sectionColor",
          "label": "Section BG",
          "default": "#f7f7f7"
        }
    ],
    "presets": [
        {
        "name": "Card with Text"
        }
    ]
}
{% endschema %}