<section class="section-gallery section-padding" id="{{ section.settings.anchorID }}">
    <div class="products-shell shell">
      <h2 class="products-title section-title">{{ section.settings.sectionHeading }}</h2>
      <div class="products-body">
          <ul class="products-list">
              {% for block in section.blocks %}
                {%-assign productImg = block.settings.productImg-%}
                {%-assign productTitle = block.settings.productTitle-%}
                {%-assign productDescription = block.settings.productDescription-%}
                <li>
                    {% if productImg %}
                        <img src="{{ productImg | img_url: 'master'}}" width="{{image.width}}" height="{{image.height}}" alt="Product Details Image" loading="lazy">
                    {% endif %}
                    {% if productTitle != blank %}
                        <h4>{{ productTitle }}</h4>
                    {% endif %}
                    {% if productDescription != blank %}
                        <p>{{ productDescription }}</p>
                    {% endif %}
                </li>
              {% endfor %}
          </ul>
      </div>
    </div>
  </section>
  {% schema %}
  {
      "name": "Gallery with Details",
      "settings": [
        {
            "type": "text",
            "id": "sectionHeading",
            "label": "Section Heading",
            "default": "Products Details"
        },
        {
        "type": "text",
        "id": "anchorID",
        "label": "Anchor ID",
        "info": "Add an anchor link to create an on page navigation."
        }
      ],
      "blocks": [
          {
              "type": "gallery",
              "name": "Products",
              "settings": [
				{
                    "type": "header",
                    "content": "Instructions",
                    "info": "Make sure to add the same number of blocks for all products if dynamic. If intend to remove card, leave the fields just blank."
                },
                {
                    "type": "header",
                    "content": "Dynamic Content",
                    "info": "Use this to load dynamic content."
                },
                {
                    "type": "image_picker",
                    "id": "productImg",
                    "label": "Product Image"
                },
                {
                    "type": "text",
                    "id": "productTitle",
                    "label": "Product Heading"
                },
                {
                    "type": "richtext",
                    "id": "productDescription",
                    "label": "Product Description"
                }
              ]
          }
      ],
      "presets": [
          {
              "name": "Gallery with Details",
              "blocks": [
                  {
                      "type": "gallery"
                  },
                  {
                      "type": "gallery"
                  },
                  {
                      "type": "gallery"
                  }
              ]
          }
      ]
  }
  {% endschema %}
  