<section class="section-gallery section-padding" id="{{ section.settings.anchorID }}">
    <div class="products-shell shell">
      <h2 class="products-title section-title">{{ section.settings.sectionHeading }}</h2>
      <div class="products-body">
          <ul class="products-list">
              {% for block in section.blocks %}
                <li>
                    <img src="{{ block.settings.productImg | img_url: 'master'}}" width="{{image.width}}" height="{{image.height}}" alt="Product Details Image" loading="lazy">
                    <h4>{{ block.settings.productTitle }}</h4>
                    <p>{{ block.settings.productDescription }}</p>
                </li>
              {% endfor %}
          </ul>
      </div>
    </div>
  </section>
  {% schema %}
  {
      "name": "Gallery with Details",
      "settings": [
          {
              "type": "text",
              "id": "sectionHeading",
              "label": "Section Heading",
              "default": "Products Details"
          },
          {
            "type": "text",
            "id": "anchorID",
            "label": "Anchor ID",
            "info": "Add an anchor link to create an on page navigation."
        }
      ],
      "blocks": [
          {
              "type": "image",
              "name": "Products",
              "settings": [
                  {
                      "type": "image_picker",
                      "id": "productImg",
                      "label": "Product Image"
                  },
                  {
                      "type": "text",
                      "id": "productTitle",
                      "label": "Product Heading",
                      "default": "Product Heading"
                  },
                  {
                      "type": "textarea",
                      "id": "productDescription",
                      "label": "Product Description",
                      "default": "Write something about your product.",
                      "info": "You can also include HTML format such a <p> for paragraph."
                  }
              ]
          }
      ],
      "presets": [
          {
              "name": "Gallery with Details",
              "blocks": [
                  {
                      "type": "image"
                  },
                  {
                      "type": "image"
                  },
                  {
                      "type": "image"
                  }
              ]
          }
      ]
  }
  {% endschema %}
  