<section class="section-gallery-cards section-padding {% if section.settings.sectionPadding %} remove-extra {% endif %}" id="{{ section.settings.anchorID }}" style="background-color: {{ section.settings.sectionColor }};">
  <div class="gallery-cards-shell shell is-variable">
    <h2 class="products-title section-title">{{ section.settings.sectionHeading }}</h2>
    <!-- Desktop -->
    <div class="show-desktop">
      {% if section.blocks.size != 0%}
        <div class="columns is-variable is-2-mobile is-3-desktop is-5-widescreen">
          {% for block in section.blocks %}
            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-1by1">
                    <img  src="{{ block.settings.productImg | img_url: 'master' }}" 
                    alt="Product image-{{ forloop.index }}"  loading="lazy"/>
                  </figure>
                  <div class="card-title">
                    {{ block.settings.productTitle }}
                  </div>
                </div>
                <div class="card-content g-card-texts-1">
                  <div class="content">{{ block.settings.productDescription }}</div>
                </div>
              </div>
            </div>
          {% endfor %}   
        </div>
      {% endif %}
    </div>
    <!-- Mobile -->
    <div class="show-mobile">
      <div class="products-carousel">
        <div class="swiper carProducts">
          {% if section.blocks.size != 0%}
              <div class="swiper-wrapper">
                  {% for block in section.blocks %}
                      <div class="swiper-slide">
                          <div class="card-image products-image">
                            <img src="{{ block.settings.productImg | img_url: 'master' }}" alt="Product image-{{ forloop.index }}"  loading="lazy"/>
                            <div class="products-title">{{ block.settings.productTitle }}</div>
                          </div>
                          <div class="card-content g-card-texts-1">
                              {{ block.settings.productDescription }}
                          </div>
                      </div>
                  {% endfor %}   
              </div>
          {% endif %}
        </div>
        <div class="swiper-button-next swiper-btn"></div>
        <div class="swiper-button-prev swiper-btn"></div>
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    var swiperProduct = new Swiper(".carProducts", {
      slidesPerView: 3,
      spaceBetween: 40,
      loop: true,
      centeredSlides: true,
      breakpoints: {
        1023: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        639: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        375: {
          slidesPerView: 1,
          spaceBetween: 30,
        },
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  });
</script>

{% schema %}
  {
      "name": "Gallery Cards",
      "settings": [
            {
              "type": "checkbox", 
              "id": "sectionPadding",
              "label": "Remove Section Padding?",
              "default": false
          },
          {
              "type": "text",
              "id": "sectionHeading",
              "label": "Section Heading",
              "default": "Products"
          },
          {
            "type": "text",
            "id": "anchorID",
            "label": "Anchor ID",
            "info": "Add an anchor link to create an on page navigation."
        },
        {
          "type": "color",
          "id": "sectionColor",
          "label": "Section BG",
          "default": "#f7f7f7"
        }
      ],
      "blocks": [
          {
              "type": "image",
              "name": "Products",
              "settings": [
                  {
                      "type": "image_picker",
                      "id": "productImg",
                      "label": "Product Image"
                  },
                  {
                      "type": "text",
                      "id": "productTitle",
                      "label": "Product Heading"
                  },
                  {
                      "type": "textarea",
                      "id": "productDescription",
                      "label": "Product Description",
                      "default": "<p>Write something about your product.</p>"
                  }
              ]
          }
      ],
      "presets": [
          {
              "name": "Gallery Cards",
              "blocks": [
                  {
                      "type": "image"
                  },
                  {
                      "type": "image"
                  },
                  {
                      "type": "image"
                  }
              ]
          }
      ]
  }
{% endschema %}