<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Main Product Page -->
<section class="section-product section-padding">
    <div id="mainProduct" class="product-shell shell">
        <a href="/pages/choose" class="product-back">< Product Selection</a>
        <div class="product-wrapper">
            <div class="product-options small">
                <div class="product-info">
                    <h5 class="product-title">{{ product.title }}</h5>
                    <p class="product-desc">{{ product.description }}</p>
                </div>
            </div>
            <div class="product-preview">
                <img :src="variantImage" width="{{image.width}}" height="{{image.height}}" alt="{{ product.images[0].alt }}" loading="lazy">
                <div class="product-disclaimer">
                    <p>{{ section.settings.textBelowImg }}</p>
                </div>
            </div>
            <div class="product-options">
                <div class="product-info wide">
                    <h5 class="product-title">{{ product.title }}</h5>
                    <p class="product-desc">{{ product.description }}</p>
                </div>
                <div class="product-form">
                    <!-- To be render -->
                    {% render "product-options" %}
                </div>
                <div class="product-button">
                    <button @click.prevent="openPage" :class="{disabled: isDisabled}">
                        <span>{{ section.settings.btnText1 }}</span>
                        <span>{{ section.settings.btnText2 }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
window.addEventListener('DOMContentLoaded', (event) => {
    
    const MainProduct = {
        delimiters: ['${', '}'],
        data() {
            return {
                selectedVariantId: "{{ product.selected_or_first_available_variant.id}}",
                variantImage: "{{ product.selected_or_first_available_variant.image.src | img_url: 'master'}}",
                variantNotAvailable: false,
                variantInventoryCount: "{{product.selected_or_first_available_variant.inventory_quantity}}",
                isDisabled: false,
                totalPrice: "{{product.selected_or_first_available_variant.price | money }}",
                variantTitle: "{{product.selected_or_first_available_variant.title}}",
                productTitle: "{{product.title}}",
                productDesc: "{{product.description}}",
                productHandle: "{{product.handle}}"
            }
        },
        methods: {
            openPage() {
                if(this.variantInventoryCount != 0) {
                    localStorage.productTitle = this.productTitle
                    localStorage.productDesc = this.productDesc
                    localStorage.productHandle = this.productHandle
                    localStorage.selectedVariantId = this.selectedVariantId
                    localStorage.variantImage = this.variantImage
                    localStorage.variantTitle = this.variantTitle
                    localStorage.variantImage = this.variantImage
                    localStorage.totalPrice = this.totalPrice

                    window.location.href = "/pages/check"
                }
            },
            onVariantChange(event) {
                this.selectedVariantId = event.target.getAttribute('data-variant-id')
                this.variantImage = event.target.getAttribute('data-image-src')
                this.variantInventoryCount = event.target.getAttribute('data-inventory-count')
                this.totalPrice = event.target.getAttribute('data-variant-price')
                this.isDisabled = this.variantInventoryCount == 0 ? this.isDisabled = true : this.isDisabled = false
                this.variantTitle = event.target.getAttribute('data-variant-title')
            }
        },
        mounted() {
            this.isDisabled = this.variantInventoryCount == 0 ? this.isDisabled = true : this.isDisabled = false
        }
    }

    Vue.createApp(MainProduct).mount('#mainProduct')
});
</script>

{% schema %}
{
    "name": "Product Page",
    "settings": [
        {
            "type": "textarea",
            "id": "textBelowImg",
            "label": "Text Below Product Image",
            "default": "Write something about the image or a disclaimer."
        },
        {
            "type": "header",
            "content": "Button Text"
        },
        {
            "type": "text",
            "id": "btnText1",
            "label": "Text 1",
            "default": "Check"
        },
        {
            "type": "text",
            "id": "btnText2",
            "label": "Text 2",
            "default": "Check the content"
        }
    ]
}
{% endschema %}

