<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Main Product Page -->
<section class="section-product section-padding remove-extra">
    <div id="mainProduct" class="product-shell shell">
        <a href="/pages/choose" class="product-back">< Product Selection</a>
        <div class="product-body">
            <div class="columns is-centered">
                <div class="column is-6">
                    <figure class="image is-1by1">
                        <img src="https://bulma.io/images/placeholders/480x480.png">
                    </figure>
                </div>
                <div class="column is-3">
                    <div class="container">
                        <div class="product-headings">
                            <div class="product-title">
                                <h1 class="g-heading-color">20oz TUMBLER</h1>
                            </div>
                            <div class="product-price">
                                <p>Starts at <span>$24.95</span></p>
                            </div>
                        </div>
                        <div class="product-options">
                            <!-- Option 1 -->
                            <div class="option-title">
                                <h4 class="g-heading-color">Choose your color.</h4>
                            </div>
                            <div class="options-wrapper">
                                <div class="columns is-multiline is-variable is-2">
                                    <div class="column is-one-third">
                                        <div class="option option-color">
                                            <input type="radio" name="color" id="option-color-1" checked>
                                            <label for="option-color-1">
                                                <div class="color" style="background-color: #1b1d29;"></div>
                                                <div class="color-title opt-title">
                                                    <span>Nero Black</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="option option-color">
                                            <input type="radio" name="color" id="option-color-2">
                                            <label for="option-color-2">
                                                <div class="color" style="background-color: #123158;"></div>
                                                <div class="color-title opt-title">
                                                    <span>Midnight Blue</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="option">
                                            <input type="radio" name="color" id="option-color-3">
                                            <label for="option-color-3">
                                                <div class="color" style="background-color: #939393;"></div>
                                                <div class="color-title opt-title">
                                                    <span>Stainless Steel</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="option option-color">
                                            <input type="radio" name="color" id="option-color-4">
                                            <label for="option-color-4">
                                                <div class="color" style="background-color: #e8e8e8;"></div>
                                                <div class="color-title opt-title">
                                                    <span>White</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="option option-color">
                                            <input type="radio" name="color" id="option-color-5">
                                            <label for="option-color-5">
                                                <div class="color" style="background-color: #f2a8bc;"></div>
                                                <div class="color-title opt-title">
                                                    <span>Classic Pink</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="option option-color">
                                            <input type="radio" name="color" id="option-color-6">
                                            <label for="option-color-6">
                                                <div class="color" style="background-color: #68dbd8;"></div>
                                                <div class="color-title opt-title">
                                                    <span>Mint</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="option option-color">
                                            <input type="radio" name="color" id="option-color-7">
                                            <label for="option-color-7">
                                                <div class="color" style="background-color: #b1775f;"></div>
                                                <div class="color-title opt-title">
                                                    <span>Copper</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Option 2 -->
                            <div class="option-title">
                                <h4 class="g-heading-color">Choose your lid.</h4>
                            </div>
                            <div class="options-wrapper">
                                <div class="columns is-variable is-2">
                                    <div class="column">
                                        <div class="option">
                                            <input type="radio" name="lid" id="option-lid-1" checked>
                                            <label for="option-lid-1" class="lid-option">
                                                <div class="lid-title opt-title">
                                                    <span class="g-heading-color">Sliding Lid</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="option">
                                            <input type="radio" name="lid" id="option-lid-2">
                                            <label for="option-lid-2" class="lid-option">
                                                <div class="lid-title opt-title">
                                                    <span class="g-heading-color">Non-Sliding Lid</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Option 3 -->
                            <div class="option-title">
                                <h4 class="g-heading-color">Do you want to personalize your item?</h4>
                            </div>
                            <div class="options-wrapper">
                                <div class="columns is-multiline">
                                    <div class="column is-full">
                                        <div class="option">
                                            <input type="radio" name="personalize" id="option-personalize-1" checked>
                                            <label for="option-personalize-1" class="personalize-option">
                                                <div class="personalize-title opt-title">
                                                    <div class="personalize-title-txt">
                                                        <span class="g-heading-color">Yes, engrave my item!</span>
                                                        <p>
                                                            Engrave your item with your own choice of text,
                                                            numbers, an icon* or even a custom logo*! *Additional fees apply
                                                        </p>
                                                    </div>
                                                    <div class="personalize-title-price">
                                                        <span class="g-heading-color">Free</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-full">
                                        <div class="option">
                                            <input type="radio" name="personalize" id="option-personalize-2">
                                            <label for="option-personalize-2" class="personalize-option">
                                                <div class="personalize-title opt-title">
                                                    <span class="g-heading-color">Skip engraving.</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Option 4 -->
                            <div class="option-title">
                                <h4 class="g-heading-color">Choose your design style.</h4>
                            </div>
                            <div class="options-wrapper">
                                <div class="columns is-multiline is-variable is-2">
                                    <div class="column is-half">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-style-1" checked>
                                            <label for="option-style-1" class="style-option">
                                                <div class="style-title opt-title">
                                                    <div class="style-title-txt">
                                                        <span class="g-heading-color">Horizontal Text</span>
                                                        <span>Up to 5 Lines of Text</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-style-2">
                                            <label for="option-style-2" class="style-option">
                                                <div class="style-title opt-title">
                                                    <div class="style-title-txt">
                                                        <span class="g-heading-color">Vertical Text</span>
                                                        <span>Up to 3 Lines of Text</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-style-3">
                                            <label for="option-style-3" class="style-option">
                                                <div class="style-title opt-title">
                                                    <div class="style-title-txt">
                                                        <span class="g-heading-color">Initials</span>
                                                        <span>Up to 3 Letters</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-style-4">
                                            <label for="option-style-4" class="style-option">
                                                <div class="style-title opt-title">
                                                    <div class="style-title-txt">
                                                        <span class="g-heading-color">Icon/Emoji</span>
                                                        <span>Includes one line of text.</span>
                                                        <span>+$5</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-full">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-style-5">
                                            <label for="option-style-5" class="style-option">
                                                <div class="style-title opt-title">
                                                    <div class="style-title-txt">
                                                        <span class="g-heading-color">Custom Logo? Contact Us.*</span>
                                                        <span>*Starts at +$15</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Option 5 -->
                            <div class="option-title">
                                <h4 class="g-heading-color">Choose an icon and font.</h4>
                            </div>
                            <div class="options-wrapper">
                                <div class="columns is-multiline is-variable is-2">
                                    <div class="column is-one-third">
                                        <div class="option option-icon">
                                            <input type="radio" name="icon" id="option-icon-1" checked>
                                            <label for="option-icon-1">
                                                <div class="icon-icon">
                                                    <span>{% render 'product-icon-type-1' %}</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="option option-icon">
                                            <input type="radio" name="icon" id="option-icon-2">
                                            <label for="option-icon-2">
                                                <div class="icon-icon">
                                                    <span>{% render 'product-icon-type-2' %}</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="option option-icon">
                                            <input type="radio" name="icon" id="option-icon-3">
                                            <label for="option-icon-3">
                                                <div class="icon-icon">
                                                    <span>{% render 'product-icon-type-3' %}</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="option option-icon">
                                            <input type="radio" name="icon" id="option-icon-4">
                                            <label for="option-icon-4">
                                                <div class="icon-icon">
                                                    <span>{% render 'product-icon-type-4' %}</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="option option-icon">
                                            <input type="radio" name="icon" id="option-icon-5">
                                            <label for="option-icon-5">
                                                <div class="icon-icon">
                                                    <span>{% render 'product-icon-type-5' %}</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-one-third">
                                        <div class="option option-icon">
                                            <input type="radio" name="icon" id="option-icon-6">
                                            <label for="option-icon-6">
                                                <div class="icon-icon">
                                                    <span>{% render 'product-icon-type-6' %}</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <!-- fonts selection -->
                                    <div class="column is-half">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-font-1" checked>
                                            <label for="option-font-1" class="font-option">
                                                <div class="font-title opt-title">
                                                    <div class="font-title-txt">
                                                        <span class="g-heading-color">Thermi Style Font</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-font-2">
                                            <label for="option-font-2" class="font-option">
                                                <div class="font-title opt-title">
                                                    <div class="font-title-txt">
                                                        <span class="g-heading-color g-font-dancing this-font-size">Dancing Font</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-font-3">
                                            <label for="option-font-3" class="font-option">
                                                <div class="font-title opt-title">
                                                    <div class="font-title-txt">
                                                        <span class="g-heading-color g-font-caveat this-font-size">Caveat Font</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-font-4">
                                            <label for="option-font-4" class="font-option">
                                                <div class="font-title opt-title">
                                                    <div class="font-title-txt">
                                                        <span class="g-heading-color g-font-acme this-font-size">Acme Font</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-font-5">
                                            <label for="option-font-5" class="font-option">
                                                <div class="font-title opt-title">
                                                    <div class="font-title-txt">
                                                        <span class="g-heading-color g-font-satisfy this-font-size">Satisfy Font</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-font-6">
                                            <label for="option-font-6" class="font-option">
                                                <div class="font-title opt-title">
                                                    <div class="font-title-txt">
                                                        <span class="g-heading-color g-font-cookie this-font-size">Cookie Font</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-font-7">
                                            <label for="option-font-7" class="font-option">
                                                <div class="font-title opt-title">
                                                    <div class="font-title-txt">
                                                        <span class="g-heading-color g-font-secular">Secular One Font</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="option">
                                            <input type="radio" name="style" id="option-font-8">
                                            <label for="option-font-8" class="font-option">
                                                <div class="font-title opt-title">
                                                    <div class="font-title-txt">
                                                        <span class="g-heading-color g-font-montserrat">Montserrat Font</span>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Product Page",
    "settings": [
        {
            "type": "textarea",
            "id": "textBelowImg",
            "label": "Text Below Product Image",
            "default": "Write something about the image or a disclaimer."
        },
        {
            "type": "header",
            "content": "Button Text"
        },
        {
            "type": "text",
            "id": "btnText1",
            "label": "Text 1",
            "default": "Check"
        },
        {
            "type": "text",
            "id": "btnText2",
            "label": "Text 2",
            "default": "Check the content"
        }
    ]
}
{% endschema %}

<script>
    const MainProduct = {
        name: "product Page",
        delimiters: ['${', '}'],
        data() {
            return {
                cartData: store,
                selectedVariantId: "{{ product.selected_or_first_available_variant.id}}",
                variantImage: "{{ product.selected_or_first_available_variant.image.src | img_url: 'master'}}",
                variantInventoryCount: "{{product.selected_or_first_available_variant.inventory_quantity}}",
                isDisabled: false,
                productType: "{{product.type}}",
                totalPrice: "{{ product.selected_or_first_available_variant.price }}",
                variantTitle: "{{product.selected_or_first_available_variant.title}}",
                productTitle: "{{product.title}}",
                productDesc: `{{product.description}}`,
                productHandle: "{{product.handle}}",
                variantQuantity: 1,
                variantLidType: '',
                withPersonalization: false,
                personalize: {}

            }
        },
        methods: {
            // This method is used before revision, I keep it still for future references
            openPage() {
                if(this.variantInventoryCount != 0) {
                    localStorage.productTitle = this.productTitle
                    localStorage.productDesc = this.productDesc
                    localStorage.productHandle = this.productHandle
                    localStorage.selectedVariantId = this.selectedVariantId
                    localStorage.variantImage = this.variantImage
                    localStorage.variantTitle = this.variantTitle
                    localStorage.variantImage = this.variantImage
                    localStorage.totalPrice = this.totalPrice

                    window.location.href = "/pages/check"
                }
            },
            onVariantChange(event) {
                this.selectedVariantId = event.target.getAttribute('data-variant-id')
                this.variantImage = event.target.getAttribute('data-image-src')
                this.variantInventoryCount = event.target.getAttribute('data-inventory-count')
                this.totalPrice = event.target.getAttribute('data-variant-price')
                this.isDisabled = this.variantInventoryCount == 0 ? this.isDisabled = true : this.isDisabled = false
                this.variantTitle = event.target.getAttribute('data-variant-title')
            },
            // This method is used after the revision
            addToCart(event) {
                if(!this.isDisabled) {
                    let withoutPersonalization = {
                        items: [
                            {
                                id: this.selectedVariantId,
                                quantity: this.variantQuantity,
                                final_price: this.totalPrice,
                                properties: {
                                    'personalization': this.withPersonalization,
                                    'lidType': this.lidType
                                }
                            }
                        ]
                    }
                    let withPersonalization = {
                        items: [
                            {
                                id: this.selectedVariantId,
                                quantity: this.variantQuantity,
                                final_price: this.totalPrice,
                                properties: {
                                    'personalization': this.withPersonalization,
                                    'lidType': this.lidType
                                }
                            }, 
                            this.personalize
                        ]
                    }
                    let data = this.withPersonalization ? withPersonalization : withoutPersonalization

                    console.log(data)
                    document.body.style.cursor = "wait"
                    event.target.style.cursor = "wait"
                    event.target.disabled = true
                    this.isDisabled = true
                    axios.post('/cart/add.js', data).then((response) => {
                        store.getCart()
                        setTimeout(()=> {
                            event.target.disabled = false
                            event.target.style.cursor = "pointer"
                            document.body.style.cursor = "default"
                            document.body.style.overflow = "hidden"
                            this.cartData.state.isCartOpen = true
                            this.cartData.state.isOverlay = true
                            this.isDisabled = false

                            // Add bubble notification to header cart icon
                            this.cartData.state.isItem = true

                        }, 1000)
                    }).catch(error => {
                        console.log(`Error: ${error}`)
                    })
                }
            },
            money(value) {
                if(!value) return 0
                return "$"+(value/100).toFixed(2)
            },
            addQuantity() {
                this.variantQuantity++
            },
            minusQuantity() {
                if(this.variantQuantity > 1) {
                    this.variantQuantity--
                }
            },
            addPersonalization(e) {
                let totalPrice = parseFloat((this.totalPrice/100).toFixed(2))
                let personalizationPrice = parseFloat((e.target.value/100).toFixed(2))
                let newPrice = parseFloat((totalPrice + personalizationPrice).toFixed(2)) * 100

                this.totalPrice = newPrice

                this.withPersonalization = true
            },
            noPersonalization(e) {
                let totalPrice = parseFloat((this.totalPrice/100).toFixed(2))
                let personalizationPrice = parseFloat((e.target.value/100).toFixed(2))
                let newPrice = parseFloat((totalPrice - personalizationPrice).toFixed(2)) * 100
    
                this.totalPrice = newPrice

                this.withPersonalization = false
            },
            getLidType(e) {
                this.lidType = e.target.value
            }
        },
        computed: {
            getTotalPrice() {
                return this.money(this.totalPrice)
            },
            getPersonalizationPrice() {
                return this.cartData.state.personalizationPrice
            }
        },
        updated() {
            // this.personalize.quantity = this.variantQuantity

            this.personalize = this.withPersonalization ? {id: this.cartData.state.personalization, quantity: this.variantQuantity} : {}
        },
        mounted() {
            this.isDisabled = this.variantInventoryCount == 0 ? this.isDisabled = true : this.isDisabled = false

            if(this.$refs.lid) {
                this.lidType = this.$refs.lid.value
            } else {
                this.lidType = false
            }
            
            // Disable the add to cart button if user try to add the add on personalization
            if(this.productType == 'hidden') this.isDisabled = true
        }
    }

    Vue.createApp(MainProduct).mount('#mainProduct')
</script>