<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Main Product Page -->
<section class="section-product section-padding remove-extra">
    <div id="mainProduct" class="product-shell shell">
        <a href="/pages/choose" class="product-back">< Product Selection</a>
        <div class="product-wrapper">
            <div class="product-options small">
                <div class="product-info">
                    <h5 class="product-title">{{ product.title }}</h5>
                    <p class="product-desc">{{ product.description }}</p>
                    <p class="product-price">{{ product.price | money }}</p>
                </div>
            </div>
            <div class="product-preview">
                {% render "product-preview" %}
                <div class="product-disclaimer">
                    <p>{{ section.settings.textBelowImg }}</p>
                </div>
            </div>
            <div class="product-options">
                <div class="product-info wide">
                    <h5 class="product-title">{{ product.title }}</h5>
                    <p class="product-desc">{{ product.description }}</p>
                    <p class="product-price">{{ product.price | money }}</p>
                </div>
                <div class="product-form">
                    <!-- To be render -->
                    {% render "product-options" %}
                </div>
                <div class="product-button">
                    <button @click.prevent="addToCart($event)" :class="{disabled: isDisabled}">
                        <span>{% render "shopping-cart" %}</span>
                        <span>Add To Cart</span>
                    </button>
                    <!-- <button @click.prevent="openPage" :class="{disabled: isDisabled}">
                        <span>{{ section.settings.btnText1 }}</span>
                        <span>{{ section.settings.btnText2 }}</span>
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Product Page",
    "settings": [
        {
            "type": "textarea",
            "id": "textBelowImg",
            "label": "Text Below Product Image",
            "default": "Write something about the image or a disclaimer."
        },
        {
            "type": "header",
            "content": "Button Text"
        },
        {
            "type": "text",
            "id": "btnText1",
            "label": "Text 1",
            "default": "Check"
        },
        {
            "type": "text",
            "id": "btnText2",
            "label": "Text 2",
            "default": "Check the content"
        }
    ]
}
{% endschema %}

<script>
    const MainProduct = {
        name: "product Page",
        delimiters: ['${', '}'],
        data() {
            return {
                cartData: store,
                selectedVariantId: "{{ product.selected_or_first_available_variant.id}}",
                variantImage: "{{ product.selected_or_first_available_variant.image.src | img_url: 'master'}}",
                variantNotAvailable: false,
                variantInventoryCount: "{{product.selected_or_first_available_variant.inventory_quantity}}",
                isDisabled: false,
                totalPrice: "{{product.selected_or_first_available_variant.price | money }}",
                variantTitle: "{{product.selected_or_first_available_variant.title}}",
                productTitle: "{{product.title}}",
                productDesc: `{{product.description}}`,
                productHandle: "{{product.handle}}",
                variantQuantity: 1
            }
        },
        methods: {
            // This method is used before revision, I keep it still for future references
            openPage() {
                if(this.variantInventoryCount != 0) {
                    localStorage.productTitle = this.productTitle
                    localStorage.productDesc = this.productDesc
                    localStorage.productHandle = this.productHandle
                    localStorage.selectedVariantId = this.selectedVariantId
                    localStorage.variantImage = this.variantImage
                    localStorage.variantTitle = this.variantTitle
                    localStorage.variantImage = this.variantImage
                    localStorage.totalPrice = this.totalPrice

                    window.location.href = "/pages/check"
                }
            },
            onVariantChange(event) {
                this.selectedVariantId = event.target.getAttribute('data-variant-id')
                this.variantImage = event.target.getAttribute('data-image-src')
                this.variantInventoryCount = event.target.getAttribute('data-inventory-count')
                this.totalPrice = event.target.getAttribute('data-variant-price')
                this.isDisabled = this.variantInventoryCount == 0 ? this.isDisabled = true : this.isDisabled = false
                this.variantTitle = event.target.getAttribute('data-variant-title')
            },
            // This method is used after the revision
            addToCart(event) {
                if(!this.isDisabled) {
                    let data = {
                        id: this.selectedVariantId,
                        quantity: 1,
                    }
                    document.body.style.cursor = "wait"
                    event.target.style.cursor = "wait"
                    event.target.disabled = true
                    this.isDisabled = true
                    axios.post('/cart/add.js', data).then((response) => {
                        store.getCart()
                        setTimeout(()=> {
                            event.target.disabled = false
                            event.target.style.cursor = "pointer"
                            document.body.style.cursor = "default"
                            document.body.style.overflow = "hidden"
                            this.cartData.state.isCartOpen = true
                            this.cartData.state.isOverlay = true
                            this.isDisabled = false

                        }, 1000)
                    }).catch(error => {
                        console.log(`Error: ${error}`)
                    })
                }
            },
            addQuantity() {
                this.variantQuantity++
            },
            minusQuantity() {
                if(this.variantQuantity > 1) {
                    this.variantQuantity--
                }
            }
        },
        mounted() {
            this.isDisabled = this.variantInventoryCount == 0 ? this.isDisabled = true : this.isDisabled = false
        }
    }

    Vue.createApp(MainProduct).mount('#mainProduct')
</script>