<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section for View More -->
<section class="section-viewmore section-padding">
    <div class="page-shell shell">
        <div class="banner-wrapper">
            <div class="banner-image">
                <img src="{{ section.settings.imgId | img_url: 'master'}}" width="{{image.width}}" height="{{image.height}}" alt="Banner Image" loading="lazy">
            </div>
            <div class="banner-info">
                <p class="banner-text">
                    {{ section.settings.banText }}
                </p>
                <p class="banner-link">
                    <a href="{{ section.settings.linkUrl }}">{{ section.settings.linkText }}</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "View more card",
    "settings": [
        {
            "type": "image_picker",
            "id": "imgId",
            "label": "Select an Image"
        },
        {
            "type": "textarea",
            "id": "banText",
            "label": "View more text",
            "default": "Describe this card"
        },
        {
            "type": "text",
            "id": "linkText",
            "label": "Label text"
        },
        {
            "type": "url",
            "id": "linkUrl",
            "label": "Link Page"
        }
    ],
    "presets": [
        {
            "name": "View more card"
        }
    ]
}
{% endschema %}