<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Main for Choose Page -->
<section class="section-choose section-padding">
  <div class="page-shell shell">
    <ol class="page-steps">
      <li class="step {% if section.settings.contextId == "choose" %} active {% endif %}">
        <div>
          <h4>{{ section.settings.text1 }}</h4>
          <span>{{ section.settings.subText1 }}</span>
        </div>
      </li>
      <li class="step {% if section.settings.contextId == "mark" %} active {% endif %}">
        <div>
          <h4>{{ section.settings.text2 }}</h4>
          <span>{{ section.settings.subText2 }}</span>
        </div>
      </li>
      <li class="step {% if section.settings.contextId == "order" %} active {% endif %}">
        <div>
          <h4>{{ section.settings.text3 }}</h4>
          <span>{{ section.settings.subText3 }}</span>
        </div>
      </li>
    </ol>
  </div>
</section>

{% schema %}
  {
    "name": "Page Context",
    "settings": [
      {
        "type": "radio",
        "id": "contextId",
        "label": "Page Context",
        "options": [
          {
            "value": "choose",
            "label": "Choose"
          },
          {
            "value": "mark",
            "label": "Mark it"
          },
          {
            "value": "order",
            "label": "Order"
          }
        ],
        "default": "choose"
      },
      {
        "type": "header",
        "content": "Page Indicator Texts"
      },
      {
        "type": "text",
        "id": "text1",
        "label": "Text 1",
        "default": "Choose"
      },
      {
        "type": "text",
        "id": "subText1",
        "label": "Sub-Text 1",
        "default": "Choose a product"
      },
      {
        "type": "text",
        "id": "text2",
        "label": "Text 2",
        "default": "Personalize"
      },
      {
        "type": "text",
        "id": "subText2",
        "label": "Sub-Text 2",
        "default": "Choose a color design"
      },
      {
        "type": "text",
        "id": "text3",
        "label": "Text 3",
        "default": "Order"
      },
      {
        "type": "text",
        "id": "subText3",
        "label": "Sub-Text 3",
        "default": "Order"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


