<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Main for FAQ Page -->

<!-- Rendered when users navigate to shop/products -->
<section class="section-faq section-padding">
  <div class="faq-shell shell">
    <h2 class="faq-title section-title">{{ page.title | escape }}</h2>
    <div class="faq-body">
      <div class="columns is-variable is-4 is-2-tablet">
        <div class="column is-one-fifth faq-col-left">
          <div class="faq-nav">
            <!-- List item 1 -->
            <div class="faq-nav-items">
              <ul class="item">
                <li>Drinkware</li>
                <li>Product Usage</li>
                <li>Product Care</li>
              </ul>
            </div>
            <!-- List item 2 -->
            <div class="faq-nav-items">
              <ul class="item">
                <li>Shipping</li>
                <li>When will my order ship?</li>
                <li>Shipping Options</li>
              </ul>
            </div>
            <!-- List item 3 -->
            <div class="faq-nav-items">
              <ul class="item">
                <li>Returns</li>
                <li>Customized Orders</li>
                <li>Non-Customized Orders</li>
              </ul>
            </div>
            <!-- List item 4 -->
            <div class="faq-nav-items">
              <ul class="item">
                <li>Warranty</li>
                <li>Warranty Info</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="faq-message">
            <p>{{ section.settings.pageMessage }}</p>
          </div>
          <!-- Accord 1 -->
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when 'accord-heading' -%}
                <div class="faq-accord-heading">
                  <span>{{ block.settings.textHeading }}</span>
                </div>
              {%- when 'accord-item' -%}
                <div class="faq-accord">
                  <div class="accord-wrapper">
                    <input type="checkbox" name="accord-header" id="accord-{{-block.settings.textHeadingItem | remove: " "-}}-{{-forloop.index-}}" />
                    <label for="accord-{{-block.settings.textHeadingItem | remove: " "-}}-{{-forloop.index-}}">
                      <p>{{ block.settings.textHeadingItem}}</p>
                      <span> {% render "chevron-down" %} </span>
                    </label>
                    <div class="accord-body">
                      <p>{{ block.settings.textContent }}</p>
                    </div>
                  </div>
                </div>
            {%- endcase -%}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div> -->

{% schema %}
{
  "name": "Page FAQ",
  "settings": [
    {
      "type": "textarea",
      "id": "pageMessage",
      "label": "Page Message",
      "default": "Please checkout out some of the answer to our most commonly asked questions below. Can'f find the answer you are looking for? Please contact us and we will be glad to help!"
    }
  ],
  "blocks": [
    {
      "type": "accord-heading",
      "name": "Accord heading",
      "settings": [
        {
          "type": "textarea",
          "id": "textHeading",
          "label": "Text Heading"
        }
      ]
    },
    {
      "type": "accord-item",
      "name": "Accord item",
      "settings": [
        {
          "type": "text",
          "id": "textHeadingItem",
          "label": "Text Item"
        },
        {
          "type": "text",
          "id": "textLeftHeadingItem",
          "label": "Text Left Item"
        },
        {
          "type": "textarea",
          "id": "textContent",
          "label": "Text Content"
        }
      ]
    }
  ]
}
{% endschema %}