<!-- Author: John Mark Connect with me @ GitHub: johnmark14 -->

<!-- Start Section Main for Contact US Page -->

<!-- Rendered when users navigate to shop/products -->
<section class="section-contactus section-padding {% if section.settings.sectionPadding %} remove-extra {% endif %}">
    <div class="contactus-shell shell">
        <h2 class="contactis-title section-title">{{ page.title | escape }}</h2>
        <div class="contactus-body">
          {% for block in section.blocks %}
            <div class="contact-info">
              {% if block.settings.infoHeading != blank %}
                <h6>{{ block.settings.infoHeading }}</h6>
              {% endif %}
              {% if block.settings.text1 != blank %}
                <p>{{ block.settings.text1 }}</p>
              {% endif %}
              {% if block.settings.text2 != blank %}
                <p>{{ block.settings.text2 }}</p>
              {% endif %}
              {% if block.settings.text3 != blank %}
                <p>{{ block.settings.text3 }}</p>
              {% endif %}
              {% if block.settings.text4 != blank %}
                <p>{{ block.settings.text4 }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
    </div>
</section>
<!-- <div class="page-width page-width--narrow">
    <h1 class="main-page-title page-title h0">
      {{ page.title | escape }}
    </h1>
    <div class="rte">
      {{ page.content }}
    </div>
  </div> -->
  
  {% schema %}
  {
    "name": "Contact Us",
    "settings": [
      {
        "type": "checkbox",
        "id": "sectionPadding",
        "label": "Remove Section Padding?",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "contact-info",
        "name": "Contact Information",
        "settings": [
          {
            "type": "text",
            "id": "infoHeading",
            "label": "Info Title"
          },
          {
            "type": "textarea",
            "id": "text1",
            "label": "Text Info 1"
          },
          {
            "type": "textarea",
            "id": "text2",
            "label": "Text Info 2"
          },
          {
            "type": "textarea",
            "id": "text3",
            "label": "Text Info 3"
          },
          {
            "type": "textarea",
            "id": "text4",
            "label": "Text Info 4"
          }
        ]
      }
    ]
  }
  {% endschema %}